@tailwind base;
@tailwind components;
@tailwind utilities;

.screen-reader-text {
	@apply sr-only;
}

/* Colour Schemes */
.dark {
	color-scheme: dark;
}

.theme-red {
	--color-theme-50-rgb: 255 232 232;
	--color-theme-100-rgb: 255 210 210;
	--color-theme-200-rgb: 255 168 168;
	--color-theme-300-rgb: 252 133 133;
	--color-theme-400-rgb: 252 103 103;
	--color-theme-500-rgb: 239 56 56;
	--color-theme-600-rgb: 193 34 34;
	--color-theme-700-rgb: 142 23 23;
	--color-theme-800-rgb: 78 12 12;
	--color-theme-900-rgb: 43 1 1;
}

.theme-orange {
	--color-theme-50-rgb: 255 242 232;
	--color-theme-100-rgb: 255 234 216;
	--color-theme-200-rgb: 255 218 185;
	--color-theme-300-rgb: 254 188 131;
	--color-theme-400-rgb: 255 156 70;
	--color-theme-500-rgb: 248 132 30;
	--color-theme-600-rgb: 223 104 3;
	--color-theme-700-rgb: 170 79 0;
	--color-theme-800-rgb: 117 55 0;
	--color-theme-900-rgb: 68 32 0;
}

.theme-green {
	--color-theme-50-rgb: 247 249 237;
	--color-theme-100-rgb: 231 237 204;
	--color-theme-200-rgb: 219 233 154;
	--color-theme-300-rgb: 196 214 115;
	--color-theme-400-rgb: 169 198 52;
	--color-theme-500-rgb: 133 167 0;
	--color-theme-600-rgb: 107 135 0;
	--color-theme-700-rgb: 54 116 32;
	--color-theme-800-rgb: 35 87 16;
	--color-theme-900-rgb: 18 68 0;
}

.theme-blue {
	--color-theme-50-rgb: 245 250 255;
	--color-theme-100-rgb: 187 223 255;
	--color-theme-200-rgb: 156 209 255;
	--color-theme-300-rgb: 116 190 255;
	--color-theme-400-rgb: 67 167 255;
	--color-theme-500-rgb: 30 146 248;
	--color-theme-600-rgb: 12 117 209;
	--color-theme-700-rgb: 0 97 183;
	--color-theme-800-rgb: 0 74 139;
	--color-theme-900-rgb: 13 36 70;
}

.theme-pink {
	--color-theme-50-rgb: 255 239 252;
	--color-theme-100-rgb: 255 203 242;
	--color-theme-200-rgb: 246 150 222;
	--color-theme-300-rgb: 235 76 195;
	--color-theme-400-rgb: 216 36 171;
	--color-theme-500-rgb: 198 2 149;
	--color-theme-600-rgb: 172 9 132;
	--color-theme-700-rgb: 151 21 119;
	--color-theme-800-rgb: 119 13 93;
	--color-theme-900-rgb: 99 3 75;
}

body {
	--color-theme-50: rgb(var(--color-theme-50-rgb));
	--color-theme-100: rgb(var(--color-theme-100-rgb));
	--color-theme-200: rgb(var(--color-theme-200-rgb));
	--color-theme-300: rgb(var(--color-theme-300-rgb));
	--color-theme-400: rgb(var(--color-theme-400-rgb));
	--color-theme-500: rgb(var(--color-theme-500-rgb));
	--color-theme-600: rgb(var(--color-theme-600-rgb));
	--color-theme-700: rgb(var(--color-theme-700-rgb));
	--color-theme-800: rgb(var(--color-theme-800-rgb));
	--color-theme-900: rgb(var(--color-theme-900-rgb));
}

::selection {
	background: var(--color-theme-100, #BBDFFF);
	color: var(--color-theme-800, #004A8B);
}

@media (prefers-contrast: more) {

	body,
	.theme-red,
	.theme-orange,
	.theme-green,
	.theme-blue,
	.theme-pink {
		--color-theme-50-rgb: 255 255 255;
		--color-theme-100-rgb: 148 163 184;
		--color-theme-200-rgb: 148 163 184;
		--color-theme-300-rgb: 148 163 184;
		--color-theme-400-rgb: 148 163 184;
		--color-theme-500-rgb: 51 65 85;
		--color-theme-600-rgb: 51 65 85;
		--color-theme-700-rgb: 51 65 85;
		--color-theme-800-rgb: 51 65 85;
		--color-theme-900-rgb: 15 23 42;
	}
}

input {
	accent-color: var(--color-theme-500);
}

/* Blocks */
.spacing-top-none:first-child,
.spacing-top-xs:first-child,
.spacing-top-sm:first-child,
.spacing-top-md:first-child,
.spacing-top-lg:first-child,
.spacing-top-xl:first-child {
	margin-top: 0;
}

.spacing-bottom-none:last-child,
.spacing-bottom-xs:last-child,
.spacing-bottom-sm:last-child,
.spacing-bottom-md:last-child,
.spacing-bottom-lg:last-child,
.spacing-bottom-xl:last-child {
	margin-bottom: 0;
}

.spacing-top-none {
	margin-top: 0;
}

.spacing-top-xs {
	margin-top: 1rem;
}

.spacing-top-sm {
	margin-top: 4rem;
}

.spacing-top-md {
	margin-top: 7rem;
}

.spacing-top-lg {
	margin-top: 12rem;
}

.spacing-top-xl {
	margin-top: 18rem;
}

.spacing-bottom-none {
	margin-bottom: 0;
}

.spacing-bottom-xs {
	margin-bottom: 1rem;
}

.spacing-bottom-sm {
	margin-bottom: 4rem;
}

.spacing-bottom-md {
	margin-bottom: 7rem;
}

.spacing-bottom-lg {
	margin-bottom: 12rem;
}

.spacing-bottom-xl {
	margin-bottom: 18rem;
}


/* Arrows */
.arrow-top::before {
	--size: 1rem;
	--color: #fff;
	--border: #f1f5f9;
	content: '';
	display: block;
	position: absolute;
	left: var(--arrow-left, 50%);
	transform: translate(50%, -100%);
	width: 0;
	height: 0;
	filter: drop-shadow(0 -2px 0 var(--border));
	border-style: solid;
	border-width: 0 var(--size) var(--size) var(--size);
	border-color: transparent transparent var(--color) transparent;
}

.dark .arrow-top::before {
	--size: 1rem;
	--color: #0f172a;
	--border: #1e293b;
}

/* Scrollbar */
.scrollbar-subtle::-webkit-scrollbar {
	width: 0.8rem;
	height: 0.8rem;
}

.scrollbar-subtle::-webkit-scrollbar-track {
	background: #fff;
}

.scrollbar-subtle::-webkit-scrollbar-thumb {
	background: #F1F5F9;
	border-radius: 1rem;
	border-top: 0.3rem solid #fff;
	border-left: 0.3rem solid #fff;
}

.scrollbar-subtle::-webkit-scrollbar-thumb:hover {
	background: #E2E8F0;
}

.dark .scrollbar-subtle::-webkit-scrollbar-track {
	background: #0F172A;
}

.dark .scrollbar-subtle::-webkit-scrollbar-thumb {
	background: #1E293B;
	border-top: 0.3rem solid #0F172A;
	border-left: 0.3rem solid #0F172A;
}

.dark .scrollbar-subtle::-webkit-scrollbar-thumb:hover {
	background: #334155;
}


/* Footer Menu */
.footermenu {
	display: grid;
	row-gap: 4rem;
	column-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr))
}

.footermenu__ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
}

.footermenu__a--top-level {
	font-weight: 600;
}


/* Social Icons Menu */
.socialicons {
	display: flex;
	gap: 2rem;
}

.socialicons svg {
	width: 2rem;
	height: 2rem;
}

/* Default Posts Pagination */
.nav-links {
	display: flex;
	justify-content: space-between;
}

.nav-previous {
	order: 2;
	margin-left: auto;
}

.nav-links a {
	display: block;
	padding: 0.5rem 2rem;

	border: 2px solid var(--color-theme-500);

	color: var(--color-theme-500);
	font-weight: 500;

	transition: all 250ms ease;
}

.nav-links a:hover,
.nav-links a:focus {
	background-color: var(--color-theme-500);
	color: #fff;
}